body {
    background-color: black;
    margin: 0;
}

body.padded {
    padding-top: 10px;
    padding-left: 20px;
}

h1 {
    color: #41FF00;
}

canvas {
    position: absolute;
}

#canvasWrapper {
    position: relative;
}